//--------------------------------------------------------------
// Element Variables
//--------------------------------------------------------------

//-----------------------------------------
// Module Variables
//-----------------------------------------
$menu-width: 320px;
$logo-width: 205px;

//-----------------------------------------
// Borders
//-----------------------------------------
$radius: 4px;
